@font-face {
	font-family: 'pressura';
	src: url('GTPressuraMono.eot');
	src: url('GTPressuraMono.eot?#iefix') format('embedded-opentype'),
		url('GTPressuraMono.woff2') format('woff2'),
		url('GTPressuraMono.woff') format('woff'),
		url('GTPressuraMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
